.navbar {
    background-image: linear-gradient(to right,rgba(19, 16, 86, 0.85), rgba(19, 16, 86, 0.9), rgb(19, 16, 86,0.95));
  }
  .button{
    color:white;
    font-size: 15px;
  }

  .button:hover{
    text-decoration: none;
    color:blanchedalmond;
  }

  .button1{
    color:white;
    padding-left: 100px;
  }
  .button1:hover{
    color: white;
  }

  #login{
    margin-right: 20px;
  }

  #compare{
    text-decoration: underline white;
    color:blanchedalmond;
  }
/*   .text{
color:rgb(84, 80, 80);
font-size: 20px;
font-family:'Times New Roman', Times, serif;
padding-top: 50px;
margin-left: 450px;
width: 700px;
text-align: center;
}

.Phone{

  margin-left: 20%;
}
#Phone1,#Phone2,#Compared{
  display: inline;
}
table {
  margin-left: 20%;
  border-collapse: collapse;
  width: 70%;
} */
/* 
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}


tr:hover {    
  background-color: antiquewhite;
} */

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 80%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Style for the comparison results list */
.list-group {
  width: 70%;
}

.list-group-item {
  font-size: 18px;
  padding: 10px 15px;
}

/* Style for the title */
p {
  color: rgba(15, 84, 25, 0.719);
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

/* Style for the container */