body{
    background-color: rgb(255, 255, 255);
  }
  .navbar {
    background-image: linear-gradient(to right,rgba(19, 16, 86, 0.85), rgba(19, 16, 86, 0.9), rgb(19, 16, 86,0.95));
    border-bottom-left-radius: px;
  }
  .button{
    color:white;
    font-size: 15px;
  }

  .button:hover{
    text-decoration: none;
    color:blanchedalmond;
  }

  .button1{
    color:white;
    padding-left: 100px;
  }
  .button1:hover{
    color: white;
  }

  #login{
    margin-right: 20px;
  }

  #card:hover{
    border: 2px solid rgba(121, 14, 14, 0.287);
    color: rgba(37, 97, 37, 0.575);
  }