.navbar {
    background-image: linear-gradient(to right,rgba(19, 16, 86, 0.85), rgba(19, 16, 86, 0.9), rgb(19, 16, 86,0.95));
  }
  .button{
    color:white;
    font-size: 15px;
  }

  .button:hover{
    text-decoration: none;
    color:blanchedalmond;
  }

  .button1{
    color:white;
    padding-left: 100px;
  }
  .button1:hover{
    color: white;
  }

  #login{
    margin-right: 20px;
  }

  #recommend{
    text-decoration: underline blanchedalmond;
    color: blanchedalmond;
  }
  #text{
    margin-left: 35%;
    color:rgba(39, 188, 29, 0.85);
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}

.container{
    width: 600px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#button_{
  margin-left: 40%;
  margin-top: 30px;
}