.navbar {
    background-image: linear-gradient(to right,rgba(19, 16, 86, 0.85), rgba(19, 16, 86, 0.9), rgb(19, 16, 86,0.95));
  }
  .button{
    color:white;
    font-size: 15px;
  }

  .button:hover{
    text-decoration: none;
    color:blanchedalmond;
  }

  .button1{
    color:white;
    padding-left: 100px;
  }
  .button1:hover{
    color: white;
  }

  #login{
    margin-right: 20px;
  }

  #valuate{
    text-decoration: underline blanchedalmond;
    color:blanchedalmond;
  }
  .text{
    color:rgb(25, 143, 35);
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    margin-left: 450px;
    width: 700px;
    text-align: center;
  }
  
  .brand input{
    visibility: hidden;
  }

  label {
cursor: pointer;
  }

  .brand p{
    padding-left:42%;
    font-size: 30px;
    color: green;
  }

  input:checked+label{
    outline: 2px solid green;
  }
  .tab {
    margin-left: 30%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right,rgba(19, 16, 86, 0.85), rgba(19, 16, 86, 0.9), rgb(19, 16, 86,0.95));
    margin-right: 30%;
    margin-left: 35%;
    border: 2px solid rgb(14, 14, 14);
    border-radius: 5px;
  }
  
  .tab button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: rgb(0, 0, 0);
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #1e613181;
    color: antiquewhite;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #1e613181;
    color: antiquewhite;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    align-items: inherit;
    border-top: none;
    width: 500px;
    margin-left: 35%;
  }
.brand{
  align-items: center;
  width: 900px;
  margin-left: -150px;
}
.brand p{
  margin-left: -120px;
  margin-top: 30px;
}
.tabcontent{
  display: none;
}

.output{
  margin-left: 30%;
  margin-top: 10%;
  font-size: 50px;
}